<section>
            <div class="container main-survey-sec">
                <div class="row">
                    <h2 class="survey-name">{{survey.title}}</h2>
                </div>

                <!-- JS inserts users questions and option from before and loops -->
                <!-- JS to link surv-opt-btn's with the appropriate option -->
                <div class="row start-survey-box">
                    <div class="row">
                        <div class="col survey-question">
                            <p>
                                {{survey.question}}
                            </p>
                        </div>
                    </div>

                    <div class="row">

                        {{!-- <div class="col-6 survey-option">
                            <button class="surv-opt-btn" id="surv-opt-btn-1">{{Hungarian Horntail}}</button>
                        </div>
                        <div class="col-6 survey-option">
                            <button class="surv-opt-btn" id="surv-opt-btn-2">{{Chinese Firebolt}}</button>
                        </div>
                        <div class="col-6 survey-option">
                            <button class="surv-opt-btn" id="surv-opt-btn-3">{{Norwegian Ridgeback}}</button>
                        </div>
                        <div class="col-6 survey-option">
                            <button class="surv-opt-btn" id="surv-opt-btn-4">{{Puff the Magic Dragon}}</button>
                        </div>
                         --}}

                        
                    {{#each survey }}
                     <p>Survey: <span>{{ survey }}</span></p>
                     <input class="form-control" type="text" id="comment" > 
                     <button class="btn small btn-success btn-savecomment" class="take-survey">Take Survey</button>
                    {{/each}}
                        
                    </div>
                    
                    <div class="row take-surv-btns">
                        <button class="col-3" id="prev-quest-btn">Previous Question</button>
                        <button class="col-3" id="next-quest-btn">Next Question</button>
                        <!-- JS finish should only appear at the end of the survey? -->
                        <button class="col-3" id="finish-surv-btn">Finish</button>
                    </div>
                </div>
            </div>
        </section>