<section>
    <div class="container main-survey-sec">
        <div class="update-surveys">
            <h2>U<span>PDATE</span> Y<span>OUR</span> S<span>URVEY</span></h2>
            <h3>{{survey-name}}</h3>
        </div>
    </div>

    <!-- Loop over questions, change text for {{user.inputed.text}}-->
    <div class="update-survey-box">
        <div class="questOpts">
            <p>Question One: <span>{{What is your favourite dragon?}}</span></p>
            <p>Option One: <span>{{Hungarian Horntail}}</span></p>
            <p>Option Two: <span>{{Chinese Firebolt}}</span></p>
            <p>Option Three: <span>{{Norwegian Ridgeback}}</span></p>
            <p>Option Four: <span>{{Puff the Magic Dragon}}</span></p>
            <div class=></div>
            <button id="edit-btn">EDIT</button>
            <button id="delete-btn">DELETE</button>
            <button id="save-btn">SAVE</button>
        </div>
    </div>
</section>