<section>
    <div class="container main-survey-sec">
        <div class="update-surveys">
            <h2>D<span>o</span> T<span>he</span> S<span>URVEY</span></h2>
        </div>
    </div>
        <div class="row new-survey-box">
             <label for="view-question" class="form-label">{{survey.newSurveyQuestion}}</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadio" id="flexRadio1" value={{survey.Option1}}>
                <label class="form-check-label" for="flexRadioDefault1">
                    {{survey.Option1}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadio" id="flexRadio2" value={{survey.Option2}}>
                <label class="form-check-label" for="flexRadioDefault2">
                    {{survey.Option2}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadio" id="flexRadio3" value={{survey.Option3}}>
                <label class="form-check-label" for="flexRadioDefault2">
                   {{survey.Option3}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadio" id="flexRadio4" value={{survey.Option4}}>
                <label class="form-check-label" for="flexRadioDefault2">
                   {{survey.Option4}}
                </label>
            </div>
            <div>
                <br>
                {{!-- <button class="addQuestion" id="add-quest-btn">Add Question</button>
                <button id="addOpt-btn">Add Option</button> --}} 
                <button type="submit" id="save-surv-btn">Save Survey</button>
            </div>
        </div>
    </div>
</section>
<br />
<script src='/javascript/viewsurvey.js'></script>
<script src='/javascript/savesurvey.js'></script>